### Imports
import(stats)
import(graphics)
import(ggplot2)
importFrom("limma", normalizeBetweenArrays, lmFit, eBayes, topTable)
importFrom("utils", txtProgressBar, setTxtProgressBar, read.table)
importFrom("grDevices", pdf, dev.off)

### Exports

#omicdata class
export(omicdata)
S3method(print, omicdata)
S3method(plot, omicdata)

#itemselect class
export(itemselect)
S3method(print, itemselect)

#drcfit class
export(drcfit)
S3method(print, drcfit)
S3method(plot, drcfit)

#bmdcalc class
export(bmdcalc)
S3method(print, bmdcalc)
S3method(plot, bmdcalc)

#bmdboot class
export(bmdboot)
S3method(print, bmdboot)
S3method(plot, bmdboot)

export(ecdfplotwithCI)
export(curvesplot)